body{
    background: #a8edea;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(168,237,234,1), rgba(254,214,227,1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(168,237,234,1), rgba(254,214,227,1))
}
h1{
    margin: 10px;
    text-decoration:underline;
}
h2{
    
    text-decoration:underline;

    
}
h4{
    margin: 10px;
}
.bordes{
    border: solid black 2px;
    margin: 10px;
    border-radius: 15px;
}
.imagen{
    margin-bottom: 10px;
}
.parrafo{
    margin-top: 25px;
    text-align: justify;
}


.actualizar{
    position: absolute;
    margin-left: -75px;
}
.eliminar{
    position: absolute;
    margin-left: 15px ;
}